{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Troca de Senha</title>
</head>
<body class="bg-gray-50">
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8 mt-14">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <img class="mx-auto h-16 w-auto" src="{% static 'images/logo.png' %}" alt="Your Company">
            <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-700">Troca de Senha</h2>
            {% if messages %}
                <p class="text-center text-red-500 mt-2 font-semibold">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
        <form method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
                <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
                    <div>
                        <label for="old_password" class="block text-sm font-medium leading-6 text-gray-900">Senha Atual</label>
                        <div class="mt-2">
                            <input id="old_password" name="old_password" type="password" required
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2">
                        </div>
                    </div>
                    <div>
                        <label for="new_password1" class="block text-sm font-medium leading-6 text-gray-900 mt-2">Nova Senha</label>
                        <div class="mt-2">
                            <input id="new_password1" name="new_password1" type="password" autocomplete="new-password"
                                required
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2">
                        </div>
                    </div>
                    <div>
                        <label for="new_password2" class="block text-sm font-medium leading-6 text-gray-900 mt-2">Confirmar Nova Senha</label>
                        <div class="mt-2">
                            <input id="new_password2" name="new_password2" type="password" autocomplete="new-password"
                                required
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2">
                        </div>
                    </div>
                    <div>
                        <button type="submit"
                            class="flex w-full justify-center rounded-md bg-[#5588fb] px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-[#5588fb]/80 focus-visible:outline mt-4">Trocar Senha</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

{% endblock %}
