{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Monitor de Logs</title>
</head>

<body class="bg-gray-50 hidden">
    {% if not user.is_authenticated %}
    <script>window.location.href = '/login'</script>
    {% else %}
    <script>document.body.classList.remove('hidden')</script>
    {% endif %}

    <div class="min-h-full">
        <nav class="border-b border-gray-200 bg-white">
            <div class="container mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <div class="flex-shrink-0">
                        <img class="block h-8 w-auto lg:hidden" src="{% static 'images/logo1.png' %}" alt="Your Company">
                        <img class="hidden h-10 w-auto lg:block" src="{% static 'images/logo1.png' %}" alt="Your Company">
                    </div>

                    <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
                        <a href="{% url 'change_password' %}"
                            class="border-b-2 border-transparent text-[#5588fb] hover:border-gray-300 hover:text-[#5588fb]/80 inline-flex items-center px-1 pt-1 text-lg font-medium">Change
                            password</a>

                        <a href="{% url 'course' %}"
                            class="border-b-2 border-transparent text-[#5588fb] hover:border-gray-300 hover:text-[#5588fb]/80 inline-flex items-center px-1 pt-1 text-lg font-medium">Course</a>
                        <a href="{% url 'logout' %}"
                            class="border-b-2 border-transparent text-[#5588fb] hover:border-gray-300 hover:text-[#5588fb]/80 inline-flex items-center px-1 pt-1 text-lg font-medium">Logout</a>
                        <a href="/monitor_logs/"
                            class="border-transparent text-[#5588fb] hover:border-gray-300 hover:text-[#5588fb]/80 inline-flex items-center border-b-2 px-1 pt-1 text-lg font-medium">Monitor Logs</a>
                    </div>

                    <div class="hidden sm:ml-6 sm:flex sm:items-center">
                        <button type="button"
                            class="relative rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                            <span class="absolute -inset-1.5"></span>
                            <span class="sr-only">View notifications</span>
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                            </svg>
                        </button>
                        <div class="relative ml-3">
                            <button type="button"
                                class="relative flex max-w-xs items-center rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                                id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                <span class="absolute -inset-1.5"></span>
                                <span class="sr-only">Open user menu</span>
                                <img class="h-8 w-8 rounded-full"
                                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt="">
                            </button>
                        </div>
                    </div>

                    <div class="-mr-2 flex items-center sm:hidden">
                        <button type="button"
                            class="relative inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                            aria-controls="mobile-menu" aria-expanded="false">
                            <span class="absolute -inset-0.5"></span>
                            <span class="sr-only">Open main menu</span>
                            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="sm:hidden" id="mobile-menu">
                <div class="px-2 pt-2 pb-3 space-y-1">
                    <a href="{% url 'course' %}"
                        class="text-[#5588fb] block px-3 py-2 rounded-md text-base font-medium">Courses</a>
                    <a href="{% url 'logout' %}"
                        class="text-[#5588fb] block px-3 py-2 rounded-md text-base font-medium">Logout</a>
                    <a href="/monitor_logs/"
                        class="text-[#5588fb] block px-3 py-2 rounded-md text-base font-medium">Monitor Logs</a>
                </div>
                <div class="border-t border-gray-200 pt-4 pb-3">
                    <div class="flex items-center px-4">
                        <div class="flex-shrink-0">
                            <img class="h-10 w-10 rounded-full"
                                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                alt="">
                        </div>
                        <div class="ml-3">
                            <div class="text-base font-medium text-gray-800">Tom Cook</div>
                        </div>
                        <button type="button"
                            class="relative ml-auto flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                            <span class="absolute -inset-1.5"></span>
                            <span class="sr-only">View notifications</span>
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container mx-auto mt-12">
            <form action="{% url 'monitor_logs' %}" method="get" class="flex items-center justify-center">
                <input type="text" name="command" placeholder="Insira um comando"
                    class="w-96 h-10 rounded-md p-2 text-base border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <button type="submit"
                    class="ml-2 px-4 py-2 bg-[#5588fb] text-white rounded-md hover:bg-[#3f72af]">Executar</button>
            </form>

            <h1 class="text-3xl font-bold mt-8 text-[#5588fb]">Monitor de Logs</h1>

            <h2 class="text-xl font-bold mt-4">Result:</h2>
            {% if login_info %}
            <ul class="list-disc pl-6 mt-2">
                {% for info in login_info %}
                <li>{{ info }}</li>
                {% endfor %}
            </ul>
            {% elif result %}
            <pre class="mt-2">{{ result }}</pre>
            {% endif %}

            
            {% if user.is_staff %}
            <h2 class="text-xl font-bold mt-4 text-[#5588fb]">Command Example:</h2>
            <ul class="list-disc pl-6 mt-2 text-[#5588fb]">
                <li>reload ./student</li>
                <li>block ./student</li>
                <li>reload ./student</li>
            </ul>
            {% endif %}

            <h2 class="text-xl font-bold mt-4 text-[#5588fb]">Students Connected on the Platform:</h2>
            <ul class="list-disc pl-6 mt-2 text-[#5588fb]">
                <li>Student Rammus</li>
                <li>Student Maria.fernanda</li>
                <li>Student Júlio.pereira</li>
                
            </ul>
        </div>
    </div>
</body>

</html>
